
.results {
    font-size: 2em;
    display: block;
    padding: 20px;
    background-color: bisque;
    width: 300px;
    height: 700px;
    position: fixed;
    left: 38%;
    text-align: center;
}

.button {
    margin: 30px;
    top: 500px;
}

.label {
    font-size: 0.8em;
}

@media screen and (max-width: 800px) {
    .results {
        position: relative;
        left: 30%;
    }
}
@media screen and (max-width: 600px) {
    .results {
        position: relative;
        left: 15%;
    }
}